body {
  background-color: #1d3557;
}

h1,
h2 {
  color: #a8dadc;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid #f7ece1 !important;
}

.menu {
  color: #a8dadc !important;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #a8dadc !important;
}

.ui.fluid.card {
  background-color: #f1faee;
  border: none;
}

.ui.fluid.card {
  box-shadow: none !important;
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.grid-column {
  margin-bottom: 20px !important;
}

.form-container {
  max-width: 400px;
  margin: auto;
}

.ui.grid {
  margin-top: 0 !important;
}
